#titulo {
    font-size: 20px;
}

#tabla table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

#tabla td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }